{% extends "billboard/base.html" %}

{% block content %}

    <div id="adds-container">
    {% block adds %}
    {% endblock %}

    <div class="invisible" id="add-form-wrap">
        <form class=""stripe>
            {% csrf_token %}
            <fieldset class="fieldset-form">
                <legend id="date-form" class="date"></legend>
                <input type="text form-item" placeholder="Title" id="title" required minlength="1" maxlength="50" /><br>
                <textarea class="textarea form-item" id="content" required minlength="1" maxlength="600">Your message here</textarea><br>
                <div class="right-align form-item">
                    <input type="text" placeholder="Author" id="author" required minlength="1" maxlength="20"/>
                </div>
            </fieldset>
            <div class="button-wrap stripe">
                <i class="fas fa-times" id="delete"></i>
                <button type="submit" id="submit">
                    <i class="fas fa-check"></i>
                </button>
            </div>
        </form>

    </div>
        <div class="button-wrap stripe" id="add-button">
            <i class="fas fa-plus" id="add"></i>
        </div>
        </div>

{% endblock %}